
.homeScroll {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-section {
  width: 100%;
  padding: 40px 20px;
  background-color: #fff;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  align-items: stretch;
  justify-items: center;
}

/* .avatar-card {
  width: 100%;
  max-width: 300px;
  height: 100%;
  background-color: red;
} */


/* 
.quote-card {
  width: 100%;
  max-width: 300px;
  height: 100%;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  padding: 30px;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
} */

.links-grid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 300px;
}

.link-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  padding: 10px;
  min-height: 100px;
  width: 100%;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  font-family: 'Inter', sans-serif;
  transition: all 0.3s ease;
  cursor: pointer;
}

.link-card p {
  flex: 1;
  font-size: 14px;
  color: #333;
  margin-left: 10px;
}

.link-card span {
  font-size: 14px;
  color: rgb(165, 161, 161);
  margin-left: 10px;
}

.link-card button {
  padding: 6px 12px;
  border: none;
  background: #eee;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.leetcode:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.github:hover {
  background-color: #5e17eb;
  color: #fff;
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(94, 23, 235, 0.4);
}

.linkedin:hover {
  background-color: #0A66C2;
  color: #fff;
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(10, 102, 194, 0.4);
}

.yoyo {
  padding-left: 10px;
  font-size: 20px;

}

.headings-tags {
  margin: 20px 0 10px 0;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  width: 100%;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .info-grid {
    grid-template-columns: 1fr;
  }

  .quote-card {
    text-align: center;
    max-width: 100%;
    height: auto;
  }

  .link-card {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    height: auto;
  }

  .yoyo  button:hover{
    background: black;
  }
  

  .link-card p {
    margin-left: 0;
  }

  .link-card button {
    align-self: flex-end;
  }
}
