.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 50px;
  background-color: #fff;
  
  color: #000;
  font-family: "Segoe UI", sans-serif;
  text-align: center;
}
@media(min-width:1345px) {
 .home{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* overflow-y: auto; */

 }
}

.profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
}

.description span {
  font-size: 20px;
  color: #555;
  font-weight: 500;
}
/* #798fff */
#getCv {
  margin-top: 30px;
  display: flex;
gap: 10px;
}


#getCv button {
  
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
justify-content: center;
  width: 130px;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  padding: 10px 21px;
  text-align: center;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;

}

#getCv button:active {
  background-color: #006AE8;
}

#getCv button:hover {
  /* background-color: #1C84FF; */
  color: #2253ce;            /* deep lavender text */
  border: 1px solid #e0d7fa;
  background: transparent;
}



/* CSS */
.button-60 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  color: #2253ce;            /* deep lavender text */
  border: 1px solid #e0d7fa;
}

.button-60:active {
  border-color: #4a4a4a;
  outline: 0;
}

.button-60:focus {
  border-color: #485fc7;
  outline: 0;
}

.button-60:hover {
  border-color: #b5b5b5;
}

.button-60:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}